@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
}


body#home::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapers-all.com/uploads/posts/2018-03/3_osu!.jpg');
    background-size: cover;
    filter: blur(10px);
    opacity: 0.1;
    z-index: -1;
}

#particles-js {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.center-container {
  transform: translateY(calc(50vh - 50%));
}

.card {
  border-radius: 0px;
}

.card-header {
  font-weight: bold;
}

.search-bar {
  margin: 0 auto;
}

.pagination>li>a {
  color: white !important;
}

.logo-img {
  /* Hacky workaround */
  margin-bottom: 6px;
}
