@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
}

.center-container {
  transform: translateY(calc(50vh - 50%));
}

.card {
  border-radius: 0px;
}

.card-header {
  font-weight: bold;
}

.search-bar {
  width: 500px;
  margin: 0 auto;
}

.pagination>li>a {
  color: white !important;
}

.logo-img {
  /* Hacky workaround */
  margin-bottom: 6px;
}
